// type
@import url(https://fonts.googleapis.com/icon?family=Material+Icons)
@import url(https://fonts.googleapis.com/icon?family=Work+Sans:400,500,700)

=normalText
  font-family: 'Work Sans', sans-serif
  font-size: 16px
  color: $text_color_grey
=largeText
  font-family: 'Work Sans', sans-serif
  font-size: 21px
  line-height: 29px
  letter-spacing: 1px
  color: $text_color_white

a
  color: $action_color


//icon stuff
.material-icons
  font-family: 'Material Icons'
  font-weight: normal
  font-style: normal
  font-size: 15px
  display: inline-block
  line-height: 1
  text-transform: none
  letter-spacing: normal
  word-wrap: normal
  white-space: nowrap
  direction: ltr
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility
  -moz-osx-font-smoothing: grayscale
  font-feature-settings: 'liga'
